.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  align-items: center;
}

#angle-1,
#angle-2,
#angle-3,
input {
  margin-top: 0.35rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
}

label {
  font-size: 1.35rem;
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 1.25rem;
  margin-top: 1.5rem;
  border-radius: 6px;
  border: none;
}

.form-wrapper {
  width: 100%;
}

.ques-box {
  width: 80%;
  border: 1px solid var(--secondary-color);
  border-radius: 12px;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}

.ques-box .options > * {
  margin: 0.4rem;
}

p {
  font-size: 1.5rem;
}

.error {
  color: red;
}
